<div class="row">
  <div class="col-md-1"> </div>

  <div class="col-md-10">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>

      <tr *ngFor="let item of books; i as index">
        <td *ngIf="!edit_mode">{{ item.title }}</td>
        <td *ngIf="edit_mode">
          <input type="text" name="title" id="title" [(ngModel)]="item.title">
        </td>

        <td>{{ item.author }}</td>
        <td>{{ item.price }}</td>
        <td>
          <button *ngIf="!edit_mode" type="button" id="update" class="btn btn-warning" name="button"
            (click)="edit(item)"
          >
            Edit
          </button>
          <button *ngIf="edit_mode" type="button" id="update" class="btn btn-warning" name="button"
            (click)="updateBook(item)"
          >
            Update
          </button>
        </td>

      </tr>
    </table>
  </div>

  <div class="col-md-1"> </div>
</div>
